@media (min-width: 90rem) {
  #scheme {
    padding: 9rem 22.19rem 9.06rem;
  }

  main {
    column-gap: 0;
    grid-template-areas:
      "avatar name    joined "
      "avatar details details";
    grid-template-columns: 9.62rem 1fr 10.37rem;
    grid-template-rows: 5.06rem 1fr;
    padding: 3rem;
  }

  #avatar {
    width: 7.31rem;
  }

  #name {
    margin-top: -0.25rem;
  }

  #details {
    margin: 0;
  }

  #stats {
    margin-bottom: 2.31rem;
  }
}
