@media (min-width: 48rem) {
  #scheme {
    font-size: 0.94rem;
    padding: 8.75rem 6.12rem 14.75rem 6.06rem;
  }

  search {
    height: 4.31rem;
    margin-bottom: 1.5rem;
  }

  form {
    padding-inline: 2rem 0.62rem;
  }

  search img {
    margin-right: 1.5rem;
  }

  input {
    width: 15.87rem;
  }

  search button {
    font-size: 1rem;
    height: 3.12rem;
    width: 6.62rem;
  }

  main {
    column-gap: 2.56rem;
    grid-template-columns: 7.31rem 1fr;
    grid-template-rows: 5.06rem auto 1fr;
    padding: 2.5rem;
  }

  #name {
    margin-block: 0.75rem 0.25rem;
  }

  h1 {
    font-size: 1.62rem;
    margin-bottom: 0.12rem;
  }

  #user-name {
    font-size: 1rem;
  }

  #details {
    margin-top: 1.5rem;
  }

  #details p {
    line-height: 166.67%;
    margin-bottom: 2rem;
  }

  #stats {
    grid-template-rows: 1.19rem 1fr;
    justify-items: normal;
    margin-bottom: 1.87rem;
    padding: 0.94rem 2rem 1.06rem;
    row-gap: 0;
  }

  .stats-title {
    font-size: 0.81rem;
  }

  .stats-data {
    font-size: 1.37rem;
  }

  #other-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 3.94rem;
    place-content: space-between;
  }

  #other-details li {
    height: 1.38rem;
    order: 0;
  }
}